.home{
    align-content: flex-center;
}

.breaknote{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 300;
      font-size: 35px;
    
      text-align: center;
      color: rgb(101, 143, 18);
    
      letter-spacing: 2px;
}