.categories {

  .col {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-around;
    margin: 4px;
    padding: 0;
    text-align: center;
    font-weight: 600;
    color: rgb(130, 167, 56);

  }

  img {
    max-height: 17vw;
    min-height: 17vw;
    max-width:17vw;
    min-width: 17vw;
    margin-top: 6%;
}
img:hover{
 transition-duration: 0.9s;
 transform: scale(1.2);
}

}