.footer {
  margin: 100px 200px 20px 200px;

  .top {
    display:flex;
    gap: 10px;
    
    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: justify;
      font-size: 14px;

      h1{
        font-size: 18px;
        font-weight: 600;
        color: white;
        opacity:80%;
        background-color:rgb(101, 143, 18);
        padding: 1%;
      
      }

      span{
        color: rgb(87, 87, 87);
        width: 90%;
        line-height: 25px;
      }
    }
  }

  .bottom {
    display: flex;
    margin-top: 50px;
    .center{
      display: block;
      margin-left: auto;
      margin-right: auto;

      .logo{
        color: #83a36e;
        font-weight: bold;
        font-size: 15px;
      }

      .copyright{
        margin-left: 20px;
        font-size: 12px;
        color: gray;
      }
    }  
  }
}
