.contact{
  background-color: rgb(96, 158, 55);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin:2%;

  .wrapper{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icons{
      display: flex;
      gap: 10px;
    }
  }
}