.logo {
  flex: 2;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  color: rgb(101, 143, 18);
  padding: 25px;
}

.navbar {
  height: 130px;
  padding: 10px;


  .wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  

    .item {
      display: flex;
      align-items: center;
      font-size: 19px;
      font-weight: 200;
      margin-left: 9px;
      color: rgb(101, 99, 99);
     
    }

    .link {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 500;
    }
    .link:hover {
      /*opacity: 0.3;*/
      background:  rgb(145, 198, 30);
      transform: scale(1);     /* Equal to scaleX(2) scaleY(2) */
      transition-duration: 0.5s;
     /*transform: scale(0.6);*/
     color: aliceblue;
     padding: 1px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    
    }

    .center {
      flex: 2;
      text-align: center;
      font-weight: 800;
      font-size: 30px;
      letter-spacing: 1px;
      color: rgb(101, 143, 18);
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      
    }

    .right {
      flex: 1;
      align-items: end;
      gap: 25px;

      .icons {
        display: flex;
        gap: 25px;
        color: #777;
        margin-right: 40px;
        margin-left: 6%;

        .cartIcon {
          position: relative;

          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgb(101, 143, 18);
            color: white;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
.icons:hover{
  transition-duration: 0.5s;
  background:  rgb(238, 251, 211);
  transform: scale(1); 
}



    }
  }
}
.logout{
  font-size: 14px;
  display: contents;
  margin-top: 40%;
}
