.future{
    align-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 100;
      font-size: 20px;
      color: rgb(68, 69, 67);
    position: relative;
      letter-spacing: 2px;
      padding: 80px;
      background-color:rgb(228, 241, 187);
      margin-bottom: 5%;
}